{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

  {% if home %}
  <title>My InstaClone - {{home}}</title>
  {% else %}
    <title> My Insta-clone </title>
  {% endif %}


    {% block styles %}
      {% bootstrap_css %}

    {% endblock %}

    {% include "navbar.html" %}
  </head>
  <body>

      {% block content %}
    <img src="{% static '/assets/images/index.png' %}" alt="under-construction">
      {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>
